In [0]:
#https://github.com/randerson112358/Python/blob/master/Bitcoin_Price_Prediction/BitcoinPrice.csv

In [0]:
import numpy as np 
import pandas as pd

In [3]:
#get the data
url = 'https://raw.githubusercontent.com/randerson112358/Python/master/Bitcoin_Price_Prediction/BitcoinPrice.csv'
df = pd.read_csv(url)
df.head(7)

                  Date        Price
0  2018-08-25 00:00:00  6719.429231
1  2018-08-26 00:00:00  6673.274167
2  2018-08-27 00:00:00  6719.266154
3  2018-08-28 00:00:00  7000.040000
4  2018-08-29 00:00:00  7054.276429
5  2018-08-30 00:00:00  6932.662500
6  2018-08-31 00:00:00  6981.946154

In [0]:
#Remove the Date column
df.drop(['Date'], 1, inplace=True)

In [5]:
#Show the first 7 rows of the new data set
df.head(7)

         Price
0  6719.429231
1  6673.274167
2  6719.266154
3  7000.040000
4  7054.276429
5  6932.662500
6  6981.946154

In [0]:
#A variable for predicting 'n' days out into the future
prediction_days = 30 #n = 30 days

#Create another column (the target or dependent variable) shifted 'n' units up
df['Prediction'] = df[['Price']].shift(-prediction_days)

In [7]:
#Show the first 7 rows of the new data set
df.head(7)

         Price   Prediction
0  6719.429231  6639.304167
1  6673.274167  6412.459167
2  6719.266154  6468.631667
3  7000.040000  6535.476667
4  7054.276429  6677.342500
5  6932.662500  6550.474167
6  6981.946154  6593.135000

In [8]:
#Show the last 7 rows of the new data set
df.tail(7)

            Price  Prediction
358  10295.117500         NaN
359  10605.825833         NaN
360  10746.507692         NaN
361  10169.094167         NaN
362  10030.746667         NaN
363  10255.977500         NaN
364  10158.540833         NaN

In [9]:
#CREATE THE INDEPENDENT DATA SET (X)

# Convert the dataframe to a numpy array and drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is the prediction_days
X= X[:len(df)-prediction_days]
print(X)

[[ 6719.42923077]
 [ 6673.27416667]
 [ 6719.26615385]
 [ 7000.04      ]
 [ 7054.27642857]
 [ 6932.6625    ]
 [ 6981.94615385]
 [ 7100.94666667]
 [ 7247.93538462]
 [ 7260.94923077]
 [ 7326.8525    ]
 [ 7113.06923077]
 [ 6433.27166667]
 [ 6444.80416667]
 [ 6366.1075    ]
 [ 6286.42583333]
 [ 6297.87769231]
 [ 6296.32083333]
 [ 6273.1375    ]
 [ 6450.17923077]
 [ 6499.0625    ]
 [ 6518.655     ]
 [ 6480.64416667]
 [ 6400.60083333]
 [ 6296.63166667]
 [ 6335.82666667]
 [ 6418.56266667]
 [ 6669.99083333]
 [ 6709.3125    ]
 [ 6710.445     ]
 [ 6639.30416667]
 [ 6412.45916667]
 [ 6468.63166667]
 [ 6535.47666667]
 [ 6677.3425    ]
 [ 6550.47416667]
 [ 6593.135     ]
 [ 6590.96833333]
 [ 6562.64166667]
 [ 6470.4025    ]
 [ 6563.62833333]
 [ 6568.54916667]
 [ 6581.48666667]
 [ 6558.5375    ]
 [ 6618.56769231]
 [ 6621.71166667]
 [ 6563.00916667]
 [ 6248.63583333]
 [ 6260.53083333]
 [ 6260.64583333]
 [ 6299.39916667]
 [ 6452.57166667]
 [ 6596.61833333]
 [ 6596.27615385]
 [ 6568.04076923]
 [ 6487.44416667]
 [ 6488.82583333]
 [ 6531.60166667]
 [ 6498.48583333]
 [ 6481.426     ]
 [ 6508.31      ]
 [ 6478.0825    ]
 [ 6473.75333333]
 [ 6465.9175    ]
 [ 6448.22166667]
 [ 6382.66833333]
 [ 6309.45285714]
 [ 6310.28416667]
 [ 6342.28083333]
 [ 6387.67416667]
 [ 6363.79583333]
 [ 6391.87333333]
 [ 6436.965     ]
 [ 6445.35416667]
 [ 6538.79      ]
 [ 6486.25166667]
 [ 6411.28083333]
 [ 6399.03333333]
 [ 6378.26833333]
 [ 6401.93666667]
 [ 6372.06333333]
 [ 6176.155     ]
 [ 5615.18      ]
 [ 5596.1925    ]
 [ 5558.24333333]
 [ 5606.04416667]
 [ 5303.9425    ]
 [ 4671.97      ]
 [ 4533.68083333]
 [ 4548.7975    ]
 [ 4309.3375    ]
 [ 4293.84083333]
 [ 3823.51166667]
 [ 3920.53666667]
 [ 3751.66833333]
 [ 4103.45384615]
 [ 4263.78333333]
 [ 4106.87166667]
 [ 4116.7775    ]
 [ 4167.54666667]
 [ 3967.52416667]
 [ 3961.49333333]
 [ 3858.34916667]
 [ 3742.94333333]
 [ 3405.64333333]
 [ 3435.34      ]
 [ 3528.80333333]
 [ 3523.96      ]
 [ 3426.19      ]
 [ 3462.04      ]
 [ 3406.7625    ]
 [ 3278.37416667]
 [ 3225.29916667]
 [ 3271.23833333]
 [ 3392.405     ]
 [ 3567.47      ]
 [ 3808.0425    ]
 [ 3982.85083333]
 [ 4015.60916667]
 [ 3910.97333333]
 [ 4027.47833333]
 [ 4178.59083333]
 [ 3813.88      ]
 [ 3825.37916667]
 [ 3747.83916667]
 [ 3743.905     ]
 [ 3912.28583333]
 [ 3832.92166667]
 [ 3791.54583333]
 [ 3752.27166667]
 [ 3867.13833333]
 [ 3865.7975    ]
 [ 3822.62666667]
 [ 3868.4875    ]
 [ 3920.45666667]
 [ 4036.09333333]
 [ 4035.855     ]
 [ 4034.13833333]
 [ 3812.58583333]
 [ 3656.73583333]
 [ 3646.34583333]
 [ 3599.84166667]
 [ 3604.1175    ]
 [ 3656.785     ]
 [ 3621.27083333]
 [ 3619.96416667]
 [ 3632.395     ]
 [ 3690.52333333]
 [ 3620.1275    ]
 [ 3548.4275    ]
 [ 3558.92416667]
 [ 3579.89666667]
 [ 3567.29916667]
 [ 3572.735     ]
 [ 3589.26083333]
 [ 3567.76333333]
 [ 3458.06666667]
 [ 3417.1675    ]
 [ 3452.22333333]
 [ 3454.00882353]
 [ 3454.19461538]
 [ 3470.07916667]
 [ 3468.305     ]
 [ 3452.32833333]
 [ 3458.70333333]
 [ 3406.82083333]
 [ 3403.96416667]
 [ 3498.86833333]
 [ 3652.21166667]
 [ 3645.27666667]
 [ 3634.77      ]
 [ 3624.15583333]
 [ 3623.07166667]
 [ 3609.86916667]
 [ 3610.74833333]
 [ 3630.39666667]
 [ 3631.55333333]
 [ 3810.78153846]
 [ 3933.14333333]
 [ 3951.565     ]
 [ 3948.41166667]
 [ 3968.65666667]
 [ 4018.04416667]
 [ 4020.12583333]
 [ 3829.56833333]
 [ 3833.31083333]
 [ 3832.61307692]
 [ 3843.58333333]
 [ 3842.13916667]
 [ 3827.4875    ]
 [ 3827.69083333]
 [ 3749.56833333]
 [ 3793.26083333]
 [ 3863.33333333]
 [ 3888.70166667]
 [ 3905.05833333]
 [ 3919.56583333]
 [ 3922.615     ]
 [ 3896.71833333]
 [ 3880.7675    ]
 [ 3881.37923077]
 [ 3883.98928571]
 [ 3918.08666667]
 [ 4011.0925    ]
 [ 3994.34833333]
 [ 3998.4975    ]
 [ 4008.65833333]
 [ 4025.02583333]
 [ 4026.63583333]
 [ 4000.335     ]
 [ 4006.11583333]
 [ 3995.32333333]
 [ 3977.45416667]
 [ 3933.95416667]
 [ 4011.36583333]
 [ 4034.05666667]
 [ 4075.52642857]
 [ 4107.34083333]
 [ 4109.31666667]
 [ 4145.10846154]
 [ 4675.1125    ]
 [ 5018.49833333]
 [ 4970.84916667]
 [ 4980.89833333]
 [ 5042.51769231]
 [ 5126.83416667]
 [ 5214.27666667]
 [ 5197.75076923]
 [ 5251.19      ]
 [ 5111.77076923]
 [ 5031.475     ]
 [ 5076.3       ]
 [ 5077.805     ]
 [ 5114.85416667]
 [ 5109.94666667]
 [ 5214.57416667]
 [ 5263.3975    ]
 [ 5255.61416667]
 [ 5302.9575    ]
 [ 5274.14583333]
 [ 5305.275     ]
 [ 5527.80166667]
 [ 5465.515     ]
 [ 5421.52666667]
 [ 5280.61666667]
 [ 5281.80916667]
 [ 5306.695     ]
 [ 5277.88333333]
 [ 5262.36333333]
 [ 5310.17333333]
 [ 5364.99166667]
 [ 5633.7475    ]
 [ 5697.92333333]
 [ 5718.22916667]
 [ 5654.35333333]
 [ 5863.52333333]
 [ 5851.67076923]
 [ 6056.4175    ]
 [ 6302.6125    ]
 [ 6833.35083333]
 [ 7152.48416667]
 [ 7447.11416667]
 [ 8005.25083333]
 [ 8063.89583333]
 [ 7979.575     ]
 [ 7265.96333333]
 [ 7338.52083333]
 [ 7894.92666667]
 [ 7926.705     ]
 [ 7954.80833333]
 [ 7896.51083333]
 [ 7688.52583333]
 [ 7972.71916667]
 [ 8046.10769231]
 [ 8114.9325    ]
 [ 8779.97083333]
 [ 8727.90083333]
 [ 8646.195     ]
 [ 8641.89166667]
 [ 8342.77      ]
 [ 8543.03      ]
 [ 8663.6425    ]
 [ 8546.17166667]
 [ 7848.41583333]
 [ 7765.68833333]
 [ 7756.9575    ]
 [ 7920.945     ]
 [ 7941.22166667]
 [ 7817.76833333]
 [ 7815.13583333]
 [ 7914.53916667]
 [ 8033.30666667]
 [ 8163.66333333]
 [ 8342.24076923]
 [ 8721.645     ]
 [ 9096.28583333]
 [ 9227.125     ]
 [ 9160.0675    ]
 [ 9147.005     ]
 [ 9346.0725    ]
 [ 9791.0175    ]
 [10730.39166667]
 [10748.01166667]
 [10851.84833333]
 [11314.76153846]
 [12686.38833333]
 [11834.12416667]
 [11665.57583333]
 [11886.88615385]
 [11545.63333333]
 [10690.83333333]
 [10300.4875    ]
 [11342.3175    ]
 [11779.45083333]
 [11118.8875    ]
 [11411.61666667]
 [11310.50666667]
 [11788.06916667]
 [12567.70384615]
 [12668.62916667]
 [11560.6025    ]
 [11577.69538462]
 [11412.12416667]
 [10852.92666667]
 [10438.55416667]
 [10300.41166667]
 [ 9584.47583333]
 [10092.75166667]
 [10455.73      ]
 [10685.415     ]
 [10569.305     ]
 [10449.62666667]
 [10044.11333333]
 [ 9708.43583333]
 [10021.325     ]]

In [11]:
#CREATE THE DEPENDENT DATA SET (y)

# Convert the dataframe to a numpy array (All of the values including the NaN's)
y = np.array(df['Prediction'])

# Get all of the y values except the last 'n' rows
y = y[:-prediction_days]
print(y)

[ 6639.30416667  6412.45916667  6468.63166667  6535.47666667
  6677.3425      6550.47416667  6593.135       6590.96833333
  6562.64166667  6470.4025      6563.62833333  6568.54916667
  6581.48666667  6558.5375      6618.56769231  6621.71166667
  6563.00916667  6248.63583333  6260.53083333  6260.64583333
  6299.39916667  6452.57166667  6596.61833333  6596.27615385
  6568.04076923  6487.44416667  6488.82583333  6531.60166667
  6498.48583333  6481.426       6508.31        6478.0825
  6473.75333333  6465.9175      6448.22166667  6382.66833333
  6309.45285714  6310.28416667  6342.28083333  6387.67416667
  6363.79583333  6391.87333333  6436.965       6445.35416667
  6538.79        6486.25166667  6411.28083333  6399.03333333
  6378.26833333  6401.93666667  6372.06333333  6176.155
  5615.18        5596.1925      5558.24333333  5606.04416667
  5303.9425      4671.97        4533.68083333  4548.7975
  4309.3375      4293.84083333  3823.51166667  3920.53666667
  3751.66833333  4103.45384615  4263.78333333  4106.87166667
  4116.7775      4167.54666667  3967.52416667  3961.49333333
  3858.34916667  3742.94333333  3405.64333333  3435.34
  3528.80333333  3523.96        3426.19        3462.04
  3406.7625      3278.37416667  3225.29916667  3271.23833333
  3392.405       3567.47        3808.0425      3982.85083333
  4015.60916667  3910.97333333  4027.47833333  4178.59083333
  3813.88        3825.37916667  3747.83916667  3743.905
  3912.28583333  3832.92166667  3791.54583333  3752.27166667
  3867.13833333  3865.7975      3822.62666667  3868.4875
  3920.45666667  4036.09333333  4035.855       4034.13833333
  3812.58583333  3656.73583333  3646.34583333  3599.84166667
  3604.1175      3656.785       3621.27083333  3619.96416667
  3632.395       3690.52333333  3620.1275      3548.4275
  3558.92416667  3579.89666667  3567.29916667  3572.735
  3589.26083333  3567.76333333  3458.06666667  3417.1675
  3452.22333333  3454.00882353  3454.19461538  3470.07916667
  3468.305       3452.32833333  3458.70333333  3406.82083333
  3403.96416667  3498.86833333  3652.21166667  3645.27666667
  3634.77        3624.15583333  3623.07166667  3609.86916667
  3610.74833333  3630.39666667  3631.55333333  3810.78153846
  3933.14333333  3951.565       3948.41166667  3968.65666667
  4018.04416667  4020.12583333  3829.56833333  3833.31083333
  3832.61307692  3843.58333333  3842.13916667  3827.4875
  3827.69083333  3749.56833333  3793.26083333  3863.33333333
  3888.70166667  3905.05833333  3919.56583333  3922.615
  3896.71833333  3880.7675      3881.37923077  3883.98928571
  3918.08666667  4011.0925      3994.34833333  3998.4975
  4008.65833333  4025.02583333  4026.63583333  4000.335
  4006.11583333  3995.32333333  3977.45416667  3933.95416667
  4011.36583333  4034.05666667  4075.52642857  4107.34083333
  4109.31666667  4145.10846154  4675.1125      5018.49833333
  4970.84916667  4980.89833333  5042.51769231  5126.83416667
  5214.27666667  5197.75076923  5251.19        5111.77076923
  5031.475       5076.3         5077.805       5114.85416667
  5109.94666667  5214.57416667  5263.3975      5255.61416667
  5302.9575      5274.14583333  5305.275       5527.80166667
  5465.515       5421.52666667  5280.61666667  5281.80916667
  5306.695       5277.88333333  5262.36333333  5310.17333333
  5364.99166667  5633.7475      5697.92333333  5718.22916667
  5654.35333333  5863.52333333  5851.67076923  6056.4175
  6302.6125      6833.35083333  7152.48416667  7447.11416667
  8005.25083333  8063.89583333  7979.575       7265.96333333
  7338.52083333  7894.92666667  7926.705       7954.80833333
  7896.51083333  7688.52583333  7972.71916667  8046.10769231
  8114.9325      8779.97083333  8727.90083333  8646.195
  8641.89166667  8342.77        8543.03        8663.6425
  8546.17166667  7848.41583333  7765.68833333  7756.9575
  7920.945       7941.22166667  7817.76833333  7815.13583333
  7914.53916667  8033.30666667  8163.66333333  8342.24076923
  8721.645       9096.28583333  9227.125       9160.0675
  9147.005       9346.0725      9791.0175     10730.39166667
 10748.01166667 10851.84833333 11314.76153846 12686.38833333
 11834.12416667 11665.57583333 11886.88615385 11545.63333333
 10690.83333333 10300.4875     11342.3175     11779.45083333
 11118.8875     11411.61666667 11310.50666667 11788.06916667
 12567.70384615 12668.62916667 11560.6025     11577.69538462
 11412.12416667 10852.92666667 10438.55416667 10300.41166667
  9584.47583333 10092.75166667 10455.73       10685.415
 10569.305      10449.62666667 10044.11333333  9708.43583333
 10021.325       9774.2575      9725.4025      9500.32416667
  9533.97933333  9539.7125      9873.81166667 10088.8
 10478.90166667 10790.63       10826.275      11713.16166667
 11759.01916667 11703.73833333 11803.88833333 11816.9125
 11586.1725     11377.80416667 11397.80166667 11144.38916667
 10450.81333333  9988.9475     10230.73333333 10292.38333333
 10295.1175     10605.82583333 10746.50769231 10169.09416667
 10030.74666667 10255.9775     10158.54083333]

In [0]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
# Set prediction_days_array equal to the last 30 rows of the original data set from the price column
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[ 9774.2575    ]
 [ 9725.4025    ]
 [ 9500.32416667]
 [ 9533.97933333]
 [ 9539.7125    ]
 [ 9873.81166667]
 [10088.8       ]
 [10478.90166667]
 [10790.63      ]
 [10826.275     ]
 [11713.16166667]
 [11759.01916667]
 [11703.73833333]
 [11803.88833333]
 [11816.9125    ]
 [11586.1725    ]
 [11377.80416667]
 [11397.80166667]
 [11144.38916667]
 [10450.81333333]
 [ 9988.9475    ]
 [10230.73333333]
 [10292.38333333]
 [10295.1175    ]
 [10605.82583333]
 [10746.50769231]
 [10169.09416667]
 [10030.74666667]
 [10255.9775    ]
 [10158.54083333]]

In [14]:
from sklearn.svm import SVR
# Create and train the Support Vector Machine (Regression) using the radial basis function
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [15]:
# Testing Model: Score returns the accuracy of the prediction. 
# The best possible score is 1.0
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.7621735357021203

In [16]:
# Print the predicted value
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

#Print the actual values
print(y_test)

[ 6247.76445971 11127.63603022  6091.09974553  4160.63076936
  8086.78305745  6572.65145896  4209.13405063  7595.35214632
 10287.74334149 10722.34979877  4944.08020637  4503.09507559
 11509.83666238 11517.41321334  6278.62549979 10876.17670114
  9269.97273528  6828.10842835  4212.57324957  9468.19975522
  6094.00934229  6091.23553876  3885.95207644  4186.83380234
  4158.26352803  6569.23151943  3868.32487697  4006.28733199
  4116.52417231  3927.09331401  6136.90405496  6230.30778676
  3976.92381864  8048.54685697  7778.33746988  7085.94280773
  4156.85070077  4033.58310079  3875.39287415  3883.64174397
  6158.96436736  4453.13516016  3855.71027821  9176.51240375
 10428.20614761  7397.7838683   6131.81258545  8013.79850923
  4211.28200066  3864.87463462  7772.27834639  6293.61947754
  3860.19696732 10045.68801264  6525.08571621  3916.21850031
  3934.46295466  4025.92807699  6463.9794015   6404.33376216
  7788.60776324  3867.02625889  4026.29008069  8093.26143772
 11537.02747222  6091.40690526  3885.16750142]

[ 6568.04076923 12567.70384615  3523.96        3743.905
  7926.705       7914.53916667  5281.80916667  5863.52333333
 10169.09416667 11586.1725      5364.99166667  3656.785
 11834.12416667 10438.55416667  4671.97       10021.325
  9774.2575      5697.92333333  5214.57416667  9533.97933333
  4103.45384615  6596.27615385  3812.58583333  4006.11583333
  3825.37916667  6590.96833333  4020.12583333  3567.29916667
  5042.51769231  3868.4875      4116.7775      4309.3375
  3452.22333333  7954.80833333  3271.23833333  5633.7475
  5277.88333333  3417.1675      3623.07166667  3880.7675
  6387.67416667  3599.84166667  3749.56833333 11803.88833333
  9500.32416667  7941.22166667  6176.155       7894.92666667
  5302.9575      3948.41166667  3567.47        3405.64333333
  3832.61307692 10158.54083333  7815.13583333  3920.45666667
  3747.83916667  4675.1125      6508.31        5615.18
  8546.17166667  3619.96416667  4178.59083333  8342.77
 10300.4875      3462.04        3896.71833333]

In [17]:
# Print the model predictions for the next 'n=30' days
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[10229.07953235 10251.29244146 10153.1792025  10188.73638057
 10194.26791261 10159.42248321 10005.92039376 10320.04466791
  9957.79413327  9901.07046663 10257.2127352  10070.3439035
 10292.96390867  9868.97820947  9807.78160146 10661.09978914
 10927.22165574 10928.78860843 10430.74877958 10289.22375203
 10068.96329915 10006.69606563 10061.42875021 10064.63304079
 10313.67875121 10047.48503988  9987.23871505 10039.31078764
 10024.87478343  9987.19148157]

In [19]:
#Print the actual price for the next 'n' days, n=prediction_days=30 
df.tail(prediction_days)

            Price  Prediction
335   9774.257500         NaN
336   9725.402500         NaN
337   9500.324167         NaN
338   9533.979333         NaN
339   9539.712500         NaN
340   9873.811667         NaN
341  10088.800000         NaN
342  10478.901667         NaN
343  10790.630000         NaN
344  10826.275000         NaN
345  11713.161667         NaN
346  11759.019167         NaN
347  11703.738333         NaN
348  11803.888333         NaN
349  11816.912500         NaN
350  11586.172500         NaN
351  11377.804167         NaN
352  11397.801667         NaN
353  11144.389167         NaN
354  10450.813333         NaN
355   9988.947500         NaN
356  10230.733333         NaN
357  10292.383333         NaN
358  10295.117500         NaN
359  10605.825833         NaN
360  10746.507692         NaN
361  10169.094167         NaN
362  10030.746667         NaN
363  10255.977500         NaN
364  10158.540833         NaN

In [0]:
#End of the Program